<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">UNA Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home </a>
          </li>
          <li class="nav-item">
            <div class="subnav">
              <button class="subnav-btn">Categorias</button>
              <div class="subnav-content">
                <span>
                  @for (item of categories; track $index){
                    <a [routerLink]="['/categoria/'+item.id]">{{item.name}}</a>
                  }
                </span>
              </div>

            </div>

          </li>

          @if(!identity){
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registro']">Registro</a>
            </li>
          }
          @else{
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/crear-categoria']">Crear Categoria</a>
            </li>
          }
         
        </ul>
        
      </div>
    </nav>
    <router-outlet/>
</div>