<div class="col-md-12 mt-4">
    <!--PARA EL MANEJO DE LOS MENSAJE SE RECOMIENDA Sweet Alert-->
    @if(status===0){
        <p>Usuario y/o contraseña incorrecta</p>
    }@else if(status===1){
        <p>Error desde el servidor</p>
    }
    <div class="col-md-4 mx-auto">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <h3 class="text-center">Inicion sesión</h3>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required>
            </div>
            <div>
                <input type="submit" class="btn btn-primary mt-3" value="Login">
            </div>
        </form>
    </div>
</div>